.form {
  height: 500px;

  .form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &-title {
    color: #fff;
    font-family: "Pattaya", sans-serif;
    line-height: 50px;
    font-size: 2rem;
    width: 60%;
    text-align: center;

    @media (max-width: 1000px) {
      font-size: 1.3rem;
    }

    @media (max-width: 600px) {
      font-size: 1.2rem;
      line-height: 30px;
    }

    @media (max-width: 800px) {
      font-size: 1.1rem;
      margin-top: 20px;
    }
  }

  .control {
    width: 70%;
    font-size: 1.3rem;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    height: 40px;
    transition: all ease-in-out 0.2s;

    &::placeholder {
      padding-left: 5px;
      color: #fff;
    }

    &:focus {
      border-color: #af9352;
    }
  }

  & .message {
    width: 70%;
    font-size: 1.3rem;
    color: #fff;
    transition: all ease-in-out 0.2s;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    height: 80px;
    resize: none;

    &::placeholder {
      padding-left: 5px;
      color: #fff;
    }

    &:focus {
      border-color: #af9352;
    }
  }

  button {
    cursor: pointer;
    background: none;
    outline: none;
    font-family: "Pattaya", sans-serif;

    color: #fff;
    border: none;
    font-size: 1.2rem;
  }
}

.contuct-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1000px;
  width: 90%;
  margin: 0 5%;

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.contact-card {
  width: 25%;
  height: 500px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  text-align: center;

  @media (max-width: 950px) {
    height: 350px;
    width: 100%;
    margin-top: 200px;
  }

  @media (max-width: 600px) {
    height: 300px;
  }

  &-text {
    margin-top: 50px;
    font-size: 1.4rem;
    width: 60%;
    line-height: 50px;

    @media (max-width: 950px) {
      margin-top: 10px;
    }

    @media (max-width: 600px) {
      line-height: 30px;
      font-size: 1rem;
    }
  }
}
