.form {
  height: 80%;
  width: 70%;
  background: #fbfbfb;

  @media (max-width: 950px) {
    width: 100%;
    margin-bottom: 200px;
  }

  @media (max-width: 600px) {
    margin-bottom: 0px;
  }

  input {
    margin: 10px 0;
  }

  .form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &-title {
    color: #af9352;
    line-height: 50px;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;

    @media (max-width: 1000px) {
      font-size: 1.3rem;
    }

    @media (max-width: 600px) {
      line-height: 30px;
    }

    @media (max-width: 800px) {
      font-size: 1.1rem;
      margin-top: 20px;
    }
  }

  &-required-controlls {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -40px;

    input {
      width: 45%;
      font-size: 1.3rem;
      color: #af9352;
      background: none;
      border: none;
      border-bottom: 2px solid #af9352;
      outline: none;
      height: 40px;

      &::placeholder {
        padding-left: 5px;
        color: #af9352;
      }
    }
  }

  & .phone {
    width: 70%;
    font-size: 1.3rem;
    color: #af9352;
    background: none;
    border: none;
    border-bottom: 2px solid #af9352;
    outline: none;
    height: 40px;

    &::placeholder {
      padding-left: 5px;
      color: #af9352;
    }
  }

  & .message {
    width: 70%;
    font-size: 1.3rem;
    color: #af9352;
    background: none;
    border: none;
    border-bottom: 2px solid #af9352;
    outline: none;
    height: 80px;
    resize: none;

    &::placeholder {
      padding-left: 5px;
      color: #af9352;
    }
  }

  button {
    cursor: pointer;
    background: none;
    outline: none;
    color: #af9352;
    border: none;
    font-size: 1rem;
  }
}

.contuct-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  width: 90%;

  @media (max-width: 950px) {
    flex-direction: column;
    height: 150%;
  }
}

.contact-card {
  width: 25%;
  height: 80%;
  background: #af9352;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;

  @media (max-width: 950px) {
    height: 350px;
    width: 100%;
    margin-top: 400px;
  }

  @media (max-width: 600px) {
    height: 300px;
  }

  &-text {
    margin-top: 50px;
    font-size: 1.4rem;
    width: 60%;
    line-height: 50px;

    @media (max-width: 950px) {
      margin-top: 10px;
    }

    @media (max-width: 600px) {
      line-height: 30px;
      font-size: 1rem;
    }
  }
}

.contuct-main {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    margin-top: -70px;
  }
}
